In [83]:
from geopandas import read_file
import pandas as pd
import numpy as np

pd.set_option('max.rows',500)

In [84]:
df=pd.DataFrame(columns=['codigo','nome','ano','geometry'])

In [85]:
census = [1872,1900,1911,1920,1933,1940,1950,1960,1970,1980,1991]

In [86]:
sf=read_file('/home/lucas/projects/grundrisse/1_datenbasis/6_landkarten/1991/malha_municipal/05-malha municipal 1991.shp')

In [87]:
for year in census:
    if year==1991:
        sf = read_file('/home/lucas/projects/grundrisse/1_datenbasis/6_landkarten/{0}/malha_municipal/05-malha municipal {0}.shp'.format(year))
        sf.columns=['codigo','nome','geometry']
        sf['ano'] = year
    else:
        sf = read_file('/home/lucas/projects/grundrisse/1_datenbasis/6_landkarten/{0}/malha_municipal/05-malha municipal {0}.shp'.format(year))
        sf['ano'] = year
        
    df=df.append(sf)

In [88]:
lista_tables = pd.read_html('https://atendimento.tecnospeed.com.br/hc/pt-br/articles/360021494734-Tabela-de-C%C3%B3digo-de-UF-do-IBGE')
df2=lista_tables[0].append(lista_tables[1]).append(lista_tables[2]).append(lista_tables[3])\
.append(lista_tables[4])

In [89]:
df2.reset_index(drop=True, inplace=True)

In [90]:
df2.columns = ['codigo','name','uf']

In [91]:
codes=[df2['codigo'][k] for k in df2.index]
states=[df2['uf'][k] for k in df2.index]

In [92]:
df=df[~df.codigo.isna()]

In [93]:
df['estado'] ='a'

for code, state in zip(codes,states):
    df['estado'] = np.where([int(str(df['codigo'][k])[:2])==code for k in df.index],state,df['estado'])

df

,codigo,nome,ano,geometry,BR91POLY_I,NOMEMUNICP,estado
0,3530508,São Sebastião da Bôa Vista,1872,"POLYGON ((706046.5 -2376657.5, 707209.9375 -23...",NaN,NaN,a
1,3548906,São Carlos do Pinhal,1872,"POLYGON ((635294.1875 -2403098.5, 635363.4375 ...",NaN,NaN,a
2,3513702,Bethlem do Descalvado,1872,"POLYGON ((647943.25 -2414789.75, 648220.8125 -...",NaN,NaN,a
3,3503307,Patrocinio das Araras,1872,"POLYGON ((672958.1875 -2475402, 675383.5625 -2...",NaN,NaN,a
4,3522604,Penha de Mogy-mirim,1872,"POLYGON ((749553.375 -2485639, 750044.3125 -24...",NaN,NaN,a
...,...,...,...,...,...,...,...
3986,4115804,Medianeira,1980,"POLYGON ((-4955.583984375 -2781556.5, -3314.36...",NaN,NaN,PR
3987,4303004,Cachoeira do Sul,1980,"POLYGON ((91330.3515625 -3272428.25, 91330.359...",NaN,NaN,RS
3988,5101704,Barra do Bugres,1980,"POLYGON ((-338802.34375 -1614383.75, -337243.1...",NaN,NaN,MT
3989,5202403,Arraias,1980,"POLYGON ((765496.0922899999 -1378421.10296, 76...",NaN,NaN,GO
3990,4319208,São Nicolau,1980,POLYGON ((-135059.2341435816 -3102878.63695497...,NaN,NaN,RS

In [95]:
df[df['estado']=='a']

,codigo,nome,ano,geometry,BR91POLY_I,NOMEMUNICP,estado
0,3530508,São Sebastião da Bôa Vista,1872,"POLYGON ((706046.5 -2376657.5, 707209.9375 -23...",NaN,NaN,a
1,3548906,São Carlos do Pinhal,1872,"POLYGON ((635294.1875 -2403098.5, 635363.4375 ...",NaN,NaN,a
2,3513702,Bethlem do Descalvado,1872,"POLYGON ((647943.25 -2414789.75, 648220.8125 -...",NaN,NaN,a
3,3503307,Patrocinio das Araras,1872,"POLYGON ((672958.1875 -2475402, 675383.5625 -2...",NaN,NaN,a
4,3522604,Penha de Mogy-mirim,1872,"POLYGON ((749553.375 -2485639, 750044.3125 -24...",NaN,NaN,a
...,...,...,...,...,...,...,...
3949,2707800,Roteiro,1980,"POLYGON ((1970838 -1137552.375, 1972094 -11372...",NaN,NaN,a
3950,2708808,São Sebastião,1980,"POLYGON ((1913950.625 -1141563.625, 1918313.25...",NaN,NaN,a
3951,2701506,Campo Grande,1980,"POLYGON ((1890972.75 -1141679.625, 1891937.5 -...",NaN,NaN,a
3952,2702306,Coruripe,1980,"POLYGON ((1939014.625 -1144643, 1942824.75 -11...",NaN,NaN,a
3973,2000107,Fernando de Noronha,1980,POLYGON ((2396219.733752761 -455097.7022252153...,NaN,NaN,a